/* event.css */

.event-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; /* Centrer le contenu */
  }
  
  .event-title {
    color: #333;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase; 
    
  }
  .event-card {
    position: relative;
    margin-top: 20px; /* Ajout de marge en haut pour séparer les cartes */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .validation-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #28a745; /* Couleur verte pour l'icône de validation */
  }
  
  .validation-icon svg {
    font-size: 24px; /* Taille de l'icône */
  }
  /* event.css */

.modal-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Bordures arrondies */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
  object-fit: cover; /* Ajustement de la taille de l'image */
  margin-bottom: 3rem;
  margin-top: 1rem;
}

  
  .event-card h2 {
    color: #333;
  }
  
  .event-card p {
    color: #666;
    margin-bottom: 10px;
  }
  
  .event-card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .event-card button:hover {
    background-color: #0056b3;
  }
  


