/* AttestationScolarite.css */

/* Styles de base */

/* Container principal */
.attestation-container {
  text-align: center;
}

/* Titre */
.title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

/* Description */
.description {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Liens de téléchargement */
.download-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Image des semestres */
.semester-image {
  width: 20rem;
  height: 20rem;
  border-radius: 10%;
  border: 2px solid #012448;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* Effet de zoom au survol */
.semester-image:hover {
  transform: scale(1.1);
}

/* Styles spécifiques pour les écrans de petite taille (mobiles) */
@media (max-width: 1000px) {
  /* Titre */
  .title {
    font-size: 1.5rem;
  }

  /* Description */
  .description {
    font-size: 1rem;
    margin-bottom: 40px;
  }

  li {
    margin: 0rem;
  }

  /* Liens de téléchargement */
  .download-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 2rem;
  }

  /* Images des semestres */
  .semester-image {
    width: 15rem;
    height: 15rem;
  }

  /* Réorganisation des semestres en colonne */
  .semester-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Espacement entre les semestres */
  .semester {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 500px) and (max-width: 770px) {
  .download-link {
    width: 93%;
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
