/* InterfaceDeConnexion.css */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5rem 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 2;
    text-align: center;
    width: 25%;

  }
  
  .title {
    font-size: 2rem;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-wrapper {
    margin-bottom: 20px;
  }
  
  .input-label {
    font-size: 1.2rem;
    color: #555;
  }
  
  .input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
  }
  
  .error-message {
    color: red;
  }
  
  .forgot-password-link {
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .forgot-password-link:hover {
    color: #0056b3;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: blue;
    margin-top: 3rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 12rem;
    margin: 0 auto; /* Centrer horizontalement */
  }
  
  
  .logo-image {
    width: 100%; 
    height: 100vh; 
    object-fit: cover; 
}

