.intranet-container {
  display: flex;
  height: 100vh;
}

.nav {
  width: 17%;
  background-color: #f0f0f0;
  padding: 20px;
  height: 125rem;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

.nav-link.active {
  color: #003366;
  background-color: rgba(0, 0, 255, 0.1);
}

.nav-link:hover {
  color: #003366;
}

.sub-nav {
  margin-top: 20px;
}

.sub-nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 10px 20px;
  border-radius: 5px;
}

.sub-nav-link.active {
  color: #003366;
  background-color: rgba(0, 0, 255, 0.1);
}

.sub-nav-link:hover {
  color: #003366;
  cursor: pointer;
}

.content {
  flex: 1;
  padding-top: 3rem;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-icon,
.sub-nav-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.modal {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 90%;
  margin-left: 4rem;
}

@media screen and (max-width:450px) {
  .modal {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    width: 270px;
    max-width: 90%;
    margin-left: 0rem;
}
  
}

.modal h2 {
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: #333;
  text-align: center;
}

.modal-buttons {
  text-align: center;
  margin-top: 20px;
}

.modal button {
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal button:hover {
  background-color: #0056b3;
}

.modal button + button {
  margin-left: 10px;
}

.modal button:last-child {
  background-color: #dc3545;
}

.modal button:last-child:hover {
  background-color: #c82333;
}

.nomPersMenu {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 3rem;
  color: #0c0c5b;
}

/* Ajout de styles pour les appareils mobiles */

@media (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -300px; /* Déplacer la navigation hors de l'écran */
    width: 250px;
    height: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    transition: left 0.3s ease; /* Animation pour afficher/cacher la navigation */
    z-index: 100; /* Assure que la navigation est au-dessus du contenu */
  }

  .nav.show {
    left: 0; /* Afficher la navigation lorsqu'elle est ouverte */
  }

  .toggle-nav {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    z-index: 101; /* Assure que le toggle est au-dessus de la navigation */
    color: #003366;
  }

  /* Ajout d'un overlay pour masquer le contenu lorsque la navigation est ouverte */
  .overlay {
    display: none; /* Masquer l'overlay par défaut */
  }

  .nav.show + .overlay {
    display: block; /* Afficher l'overlay lorsque la navigation est ouverte */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    z-index: 99; /* Assure que l'overlay est sous la navigation */
  }
}

@media screen and (min-width: 768px) {
  .toggle-nav {
    display: none;
  }
}

.divToggle {
  width: 100%;
  background-color: white;
}
