.edt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Titre */
.title {

  text-align: center;
}

/* Description */
.description {

  margin-bottom: 20px;
  text-align: center;
}




.edt-image {
  margin-top: 3rem;
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Ombre douce */
  transition: transform 0.3s ease; /* Animation de transition */

  /* Effet de survol */
  cursor: pointer;
}

.edt-image:hover {
  transform: scale(1.05); /* Agrandir légèrement au survol */
}
