/* ReleveDeNotes.css */

/* Styles de base */

/* Container principal */
.releve-de-notes-container {
  text-align: center;
}

/* Titre */
.title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

/* Description */
.descriptionrelevenotes {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.6;
}

/* Liens de téléchargement */
.download-link-releve {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 2rem;

}

/* Image des semestres */
.semester-image {
  width: 20rem; /* Ajustez la largeur selon vos besoins */
  height: 20rem; /* Ajustez la hauteur selon vos besoins */
  border-radius: 10%; /* Pour rendre l'image ronde */
  border: 2px solid #012448; /* Couleur de la bordure */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
  transition: transform 0.3s ease; /* Effet de transition */
}

/* Effet de zoom au survol */
.semester-image:hover {
  transform: scale(1.1); /* Zoom léger au survol */
}


.download-link-releve:hover {
  background-color: #0056b3;
}

ul{
  display: flex;
justify-content: space-around; 
margin-top:3rem }



.annee-link {
display: inline-block;
padding: 10px 20px;
background-color: #012448;
color: #fff;
text-decoration: none;
border-radius: 5px;
transition: background-color 0.3s ease;
}

/* Styles spécifiques pour les écrans de petite taille (mobiles) */
@media (max-width: 768px) {
/* Titre */
.title {
  font-size: 1.5rem;
}

/* Description */
.description {
  font-size: 1rem;
  margin-bottom: 40px;
}

/* Liens de téléchargement */
.download-link-releve {
  padding: 8px 16px;
  font-size: 0.9rem;
}

/* Images des semestres */
.semester-image {
  width: 15rem;
  height: 15rem;
}

/* Réorganisation des semestres en colonne */
.semester-list {
  flex-direction: column;
  align-items: center;
}

/* Espacement entre les semestres */
.semester {
  margin-bottom: 20px;
}
}

.imgg{
display: none;
}


.semester{
  display: flex;
  flex-direction: column;
}


@media screen and (max-width:750px) {
  .semester{
    display: block;
  }

  .download-link-releve{
    width: 100%;
  }
  
}